body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFDC00;
    color: black;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    border: 1px solid black;
    border-radius: 4px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px 10px 10px 10px; 
    width: 400px;
    border: 1px solid;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 40px;
    background-color: rgb(222, 222, 222);
}

input[type="text"]::placeholder {
    color: black;
}

.search-bar .search-button {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar .search-button:hover {
    background-color: #FFDC00;
    color: black;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    height: 30px;
    margin-right: 10px;
}

main {
    padding: 20px;
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.dashboards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dashboard {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
}

.dashboard img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.dashboard p {
    padding: 10px;
}

.footer-content {
    background-color: #FFDC00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.footer-content img {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    order: 1;
}

.footer-content p {
    order: 2;
    margin-right: 10px;
}

.eredes_btn {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    color: #FFDC00;
}

.eredes_btn a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.eredes_btn:hover {
    background-color: #FFDC00; /* Tom de amarelo mais escuro ao passar o mouse */
    color: black; /* Cor do texto ao passar o mouse */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0; /* Alterando a posição para o topo do item pai */
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adicionando sombra */
    padding: 10px;
    z-index: 1;
    width: 75px; /* Largura do submenu */
}

/* Estilo para os itens do submenu */
.dropdown-content li {
    margin-bottom: 8px; /* Adicionando um espaçamento entre os itens */
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
}

.user-info:hover .dropdown-content {
    display: block;
}

.footer-content {
    background-color: #FFDC00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 20px;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

.login-box {
    width: 300px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(59, 59, 59);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #dec000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: rgb(119, 119, 119);
}

.login-container p {
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
}