body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFDC00;
    color: black;
    padding: 10px 20px;
    width: 100%;
    max-width: 100vw;
    /* Define a largura máxima igual à largura da tela */
    box-sizing: border-box;
    /* Garante que o padding e a borda estejam incluídos na largura total */
}

.nav {
    display: flex;
    align-items: center;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons button {
    height: auto;
    width: 100px;
}

.logo img {
    height: 40px;
    cursor: pointer;
    margin-right: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-color: 1px #898989 solid;
    margin-left: auto;
}

.search-bar input[type="text"] {
    padding: 10px 10px 10px 10px;
    width: 400px;
    border: 1px solid;
    border-color: 1px #898989 solid;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 40px;
    background-color: rgb(250, 250, 250);
}

input[type="text"]::placeholder {
    color: black;
}

.search-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.search-button img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    height: 30px;
    margin-right: 10px;
}

main {
    padding: 20px;
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.782);
    transition: box-shadow 0.3s ease;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.624);
    padding: 50px;
    border-radius: 10px;
}

.lista-datasets {
    list-style-type: none; /* Remove as marcas de lista */
    padding: 0; /* Remove o preenchimento */
    margin: 0; /* Remove a margem */
}

.lista-datasets li {
    margin-bottom: 10px; /* Espaço entre itens da lista */
}

.lista-datasets a {
    color: #000000; /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    text-decoration: none; /* Sem sublinhado */
    transition: color 0.3s; /* Transição suave na mudança de cor */
}

.lista-datasets a:hover {
    color: #d93025; /* Cor do texto ao passar o rato */
    text-decoration: underline; /* Sublinhado ao passar o rato */
}

 

.dashboards {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.dashboard {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    margin: 0px 15px 40px 15px;
    background-color: #FFDC00;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.782);
}

.dashboard img,
.dashboard iframe {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin: 40px 0 40px 0;
}

.dashboard p {
    padding: 10px;
}

.footer-content {
    background-color: #FFDC00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 20px;
    width: 100%;
    max-width: 100vw;
    /* Define a largura máxima igual à largura da tela */
    box-sizing: border-box;
    /* Garante que o padding e a borda estejam incluídos na largura total */
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left img {
    height: 30px;
    margin-right: 10px;
}

.footer-content img {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    order: 1;
    cursor: pointer;
}

.isep_img {
    width: 100px;
    height: auto;
}

.eredes_img {
    width: 100px;
    height: auto;
}

.footer-content p {
    order: 2;
    margin-right: 10px;
}

.eredes_btn {
    background-color: #FFDC00;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    color: black;
}

.nav-buttons button {
    background-color: #FFDC00;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    color: black;
    margin: 0 10px 0 10px;
}

.eredes_btn:hover,
.nav-buttons button:hover {
    background-color: #333;
    color: #FFDC00;
}

.eredes_btn a,
.nav-buttons a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content {
    display: none;
    background-color: #FFDC00;
    position: absolute;
    min-width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    z-index: 20;
    border: none;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    top: 100%;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    z-index: 10;
}

.dropdown div {
    display: inline-block;
}

.dropdown button {
    background-color: #FFDC00;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.dropdown a:hover {
    background-color: #333;
    color: #FFDC00;
    transition: .5s;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

.footer-content {
    background-color: #FFDC00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 20px;
    position: static;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    margin-top: auto;
}

.login-container,
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

.login-box,
.login-registar,
.register-box {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #898989;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box,
.login-registar {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.register-box {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.separator {
    width: 1px;
    height: 60%;
    background-color: gray;
    margin: 0 70px;
    display: inline-block;
    vertical-align: middle;
}

.login-box input[type="email"],
.login-box input[type="password"],
.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="password"],
.input-container select,
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="password"],
.input-container select {
    width: 200px;
}

.input-container select {
    display: block;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23666" d="M6.516 7.548c0.436-0.446 1.043-0.481 1.576 0l2.411 2.317 2.362-2.317c0.533-0.481 1.141-0.446 1.576 0 0.436 0.445 0.408 1.197 0 1.615l-3.038 2.974c-0.408 0.418-1.141 0.418-1.549 0l-3.038-2.974c-0.408-0.418-0.436-1.17 0-1.615z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    color: #a2a2a2;
}

.input-container select:disabled {
    color: #a2a2a2;
}

.input-container select option:checked {
    color: black;
}

.input-container select.valid {
    color: black;
}

.input-container select:focus,
.input-container input[type="text"]:focus,
.input-container input[type="email"]:focus,
.input-container input[type="password"]:focus {
    outline: none;
    border: 1px solid #a2a2a2;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 100px;
}

.input-container button:hover {
    background-color: #333;
    color: #FFDC00;
}

.login-box button,
.login-registar button,
.register-box button {
    width: 100px;
    padding: 10px;
    background-color: #dec000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.login-box button {
    margin-left: 100px;
}

.login-box button a,
.login-registar button a,
.register-box button a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4px 0;
}

.login-box button:hover,
.login-registar button:hover,
.register-box button:hover,
.register-container button:hover {
    background-color: #333;
    color: #FFDC00;
}

.login-container p {
    margin-top: 10px;
    text-align: center;
}

.login-registar {
    text-align: center;
}

.login-registar button {
    background-color: #dec000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="password"]::placeholder,
.select {
    color: #a3a3a3;
}

.login-box h2 {
    text-align: center;
}

.input-container button img {
    width: 40px;
    height: auto;
    display: flex;
    align-items: centre;
    justify-content: center;
}

.input-container button,
.form_container button {
    background-color: #dec000;
    width: 60px;
    height: 35px;
}


.custom-button button {
    padding: 15px 30px;
    background-color: #FFDC00;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s;
    font-size: 14px;
    text-align: center;
    margin: 10px 20px 10px 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.custom-button {
    margin-left: 10px;
}

.custom-button button:hover {
    background-color: #333;
    color: #FFDC00;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-container {
    position: relative;
    width: 200px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu {
    /* Your existing menu styles */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    /* Disable mouse events */
    position: absolute;
    z-index: -1;
    /* Initially behind other content */
    background-color: #333;
    border-radius: 20px;
    color: white;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.782);
}

.menu.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    /* Enable mouse events */
    z-index: 1000;
    /* Bring the menu to the front */
}


.menu h2 {
    margin-top: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

.dataset-details {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #898989;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

.form-row button {
    padding: 10px 10px;
    background-color: #dec000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-row button:hover {
    background-color: #333;
    color: #FFDC00;
}

.form-row span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #a2a2a2;
}

.dataset-info p {
    margin: 5px 0;
}

.fotos_equipa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 60px 0 60px;
}

.fotos_equipa img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}

.quemsomos_objetivo {
    display: flex;
    flex-wrap: wrap;

}

.quemsomos_objetivo p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

.quem_somos,
.objetivo {
    flex: 1 0 25%;
    margin: 0px 80px 20px 80px;
    border-radius: 10px;
}

.dataset-info ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilos para a tabela */
table {
    border-collapse: collapse;
    width: 100%;
    /* border: 1px solid #ddd; /* Borda da tabela */
    background-color: #7070705d;
}

/* Estilos para as células da tabela */
td,
th {
    padding: 5px;
    text-align: center;
    /* Centralizar o texto */
    border-bottom: 1px solid #ddd;
    /* Borda inferior das células */
}

/* Estilos para a primeira linha com tons de amarelo */
tr:first-child th {
    background-color: #f6da28;
}

/* Estilos alternados para linhas */
tr:nth-child(even) {
    background-color: #79797940;
    /* Cor de fundo para linhas pares */
}

.pagination {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination .current {
    background-color: #FFDC00;
    color: white;
}

h1 {
    text-align: center;
    /* Alinha o texto ao centro */
    width: 100%;
    /* Define a largura do contêiner para ocupar toda a largura disponível */
}

/* Estilos gerais para o container do formulário */
.form-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px #898989;
}

/* Estilos para o título */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}


/*Formulario*/
.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select,
.form-container textarea {
    /* Ajusta a largura dos inputs */
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container select {
    width: 100%;
}

.form-container textarea {
    height: 100px;
    width: calc(100% - 20px)
        /* Define a altura do textarea */
}

.form-container input[type="file"] {
    width: calc(100% - 20px);
    /* Ajusta a largura do input de arquivo */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="file"]:focus {
    outline: none;
    border-color: #333;
}

.form-container .submit-button {
    display: block;
    margin: 0 auto;
    /* Centraliza o botão */
    background-color: #FFDC00;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-container .submit-button:hover {
    background-color: #333;
    color: #FFDC00;
}

#graficoProcessosConcluidos {
    height: auto; 
    align-items: center;
    align-self: center;
}

/* Estilo para a lista de colunas */
/* Estilo para a lista de colunas */
.menu-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-lista li {
    margin-bottom: 10px;
}

.menu-lista .dropdown {
    position: relative;
    display: inline-block;
}

.menu-lista .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFDC00; /* Cor de fundo do dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1000; /* Z-index alto para aparecer acima */
    border-radius: 4px;
}

.menu-lista .dropdown:hover .dropdown-content {
    display: block;
}

.menu-lista .dropbtn {
    background-color: transparent; /* Sem fundo inicial */
    color: #000; /* Cor do texto preto */
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.menu-lista .dropbtn:hover {
    background-color: #ddd; /* Cor de fundo no hover */
}

.menu-lista .dropdown-content a {
    color: #000; /* Cor do texto preto */
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}

.menu-lista .dropdown-content a:hover {
    background-color: #333; /* Cor de fundo no hover */
    color: #FFDC00; /* Cor do texto amarelo */
}
